@model helloserve.com.Web.Models.Data.NewsDataModel

<div class="content-block" style="height:auto">
    <div style="padding:2em">
        <div style="display:table-cell; vertical-align:middle;">
            <div class="content-title">@Model.Title</div>
            <div class="content-title-detail">
                @if (Model.CreatedDate == DateTime.Today)
                {
                    <text>Posted today</text>
                }
                else
                {
                    <text>Posted on @Model.CreatedDate.ToString("yyyy-MM-dd")</text>
                }
                @if (Model.ProjectId.HasValue)
                {
                    <text>in <b>@Html.ActionLink(Model.Project.Title, "Index", "Project", new { id = Model.Project.UrlName }, null)</b></text>
                }
            </div>
        </div>
        <div class="content-hr"></div>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div style="text-align:center">
                <img src="@Html.StaticlinkContent(Model.ImageUrl)" alt="@Model.UrlName" />
            </div>
        }
        <div>
            @Model.Cut
        </div>
        <div>
            @Html.Raw(Html.StaticlinkContent(Model.Content))
        </div>
    </div>
</div>