@page "/blogs-blazor/{title}"
@using helloserve.com.Adaptors
@using helloserve.com.Models
@inject IBlogServiceAdaptor ServiceAdaptor

@if (Model == null)
{
    <div class="container">
        <p>Loading...</p>
    </div>
}
else
{
    <div class="jumbotron">
        <div class="container">
            <h3 class="display-3">@Model.Title</h3>
        </div>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
        <div class="container text-center">
            <img style="max-width:90%" src="@Model.ImageUrl"/>
        </div>
        }
    </div>
    <div class="container blog-content">
        <p>
            <span>Published on @Model.PublishDate?.ToShortDateString()</span>
            <AuthorizeView>
                <Authorized>
                    <NavLink href="@AsAdminUrl(Model.Key)">
                        <span class="oi oi-pencil"></span>
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </p>

        @((MarkupString)Model.Content)
    </div>
}

@functions {
    [Parameter]
    public string Title { get; set; } = "fantastic";

    BlogView Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await ServiceAdaptor.Read(Title);
    }

    private string AsAdminUrl(string key)
    {
        return $"admin/blogs/{key}";
    }
}