@page "/projects/{title}"
@using helloserve.com.Models
@using helloserve.com.Adaptors
@inject IProjectServiceAdaptor ServiceAdaptor

@if (project == null)
{
    <div class="container">
        <p>Loading...</p>
    </div>
}
else if (customPageType == null)
{
    <div class="jumbotron">
        <div class="container text-center">
            <h2 class="display-2">@project.Name</h2>
        </div>
        <div class="container text-center">
            <img src="@project.ImageUrl" style="max-width:80%;"/>
        </div>
    </div>    
    <div class="container">
        <p>
            @project.Description
        </p>
    </div>
}
else
{
    <CascadingValue Name="Owner" Value="@project">
        <CascadingValue Name="PageSize" Value="5">
            @CreateDynamicComponent()
        </CascadingValue>
    </CascadingValue>
}

@code {
    [Parameter]
    public string Title { get; set; } = "featured!";

    private ProjectView project { get; set; }
    private Type customPageType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        project = await ServiceAdaptor.Read(Title);
        if (project != null && !string.IsNullOrEmpty(project.ComponentPage))
        {
            customPageType = this.GetType().Assembly.GetTypes().Where(t => t.Name == project.ComponentPage).FirstOrDefault();
        }
    }

    RenderFragment CreateDynamicComponent() => builder =>
    {
        builder.OpenComponent(0, customPageType);
        builder.CloseComponent();
    };
}
