@model FeaturesModel
<h2>
    Features</h2>
<div>
    @foreach (var feature in Model.Features)
    {
        <div style="padding: 10px; clear: both">
            <div style="float: left; width: 500px">
                @if (string.IsNullOrEmpty(feature.Subdomain))
                {
                    <h2>@Html.ActionLink(feature.Name, "Feature", "Feature", new { id = feature.FeatureID }, null)</h2>
                }
                else
                {
                    <h2>
                        <a href="@feature.Link">@feature.Name</a></h2>
                }
                <div>@feature.ModifiedDate.ToShortDateString()</div>
            </div>
            @if (feature.HeaderImageID.HasValue)
            {
                <div style="float: right; width: 400; height: 200; border: 1px solid black">
                    <img src="/Media/@(feature.HeaderImageID.Value)" style="width: 800px;
                    height: 400px" />
                </div>
                <div style="float: left; width: 500px">                
                    <br />
                    @feature.Description
                </div>
            }
            else
            {
                <div style="clear: both">
                    <br />
                    @feature.Description
                </div>
            }
        </div>
    }
</div>
