<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("/Content/themes/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @IncludeJS("Built-In/jquery-1.7.2.min.js",
                "Built-In/jquery-ui-1.8.21.custom.min.js",
                "Built-In/jquery.validate.min.js",
                "Built-In/jquery.validate.unobtrusive.min.js",
                "Built-In/jquery.numeric.js",
                "Built-In/json2.js",
                "General.js")
    @RenderSection("headScript", false)
    <script type="text/javascript" language="javascript">
        window.GetUrl = function (url) {
            return '@Url.Content("~/")' + url;
        }
    </script>
    @IncludeControllerScript()
</head>
<body>
    <div class="page">
        <div id="header" style="height:200px;">
            <div id="logo" style="height:187px; width:500px; float:left; display:inline-block"><img src="../../Content/Img/logo.png" alt="helloserve Productions" /></div>
            <div id="menucontainer" style="height:50px; line-height: 50px; float:left;">
            @Html.Action("LogOnPartial", "Account")
            <a href="/Home/About" title="About">
                <div class="menu">
                    About</div>
            </a>
            <div class="menu">
                <div class="menu_heading">
                    <span>Forum</span>
                </div>
                @if (Settings.Forums.Count > 0)
                {
                    <div class="dropButton">
                        <ul>
                            @foreach (var f in Settings.Forums)
                            {
                                <li>@Html.ActionLink(f.Name, "Forum", "Forum", new { forum = f.Name }, new { @class="adropButton" })</li>
                            }
                        </ul>
                    </div>
                }
            </div>
            @if (helloserve.Web.Settings.Current.User != null)
            {
                if (helloserve.Web.Settings.Current.User.Administrator)
                {
                <a href="/Admin/Admin" title="Admin">
                    <div class="menu">
                        Admin</div>
                </a>
                }
                else
                {
                <a href="/Store/Store" title="Store">
                    <div class="menu">
                        Store</div>
                </a>
                }
            }
            <a href="/Feature/Index" title="Features">
                <div class="menu">
                    Features</div>
            </a><a href="/Home/Index" tile="Home">
                <div class="menu">
                    Home</div>
            </a>
        </div>
        </div>
        <div id="main">
            <div style="display: inline-block">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <div style="clear: both; font-size: smaller; text-align: center">
                <p>
                    helloserve Productions name and logo, and all content unless otherwise stated, is ©
                    2011 - @DateTime.Now.Year.ToString() helloserve Productions Pty. Ltd.</p>
            </div>
        </div>
    </div>
    <div id="dlg">
        <div id="dlgcontent">
        </div>
    </div>
</body>
</html>
