@model helloserve.com.Web.Models.Data.ProjectDataModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("project", "admin", FormMethod.Post))
{
    @Html.HiddenFor(m => m.FeatureId)
    @Html.HiddenFor(m => m.CreatedDate)

    <div class="editor">
        <div class="label">@Html.LabelFor(m => m.Title)</div><div class="field">@Html.EditorFor(m => m.Title)</div>
    </div>

    <div class="editor">
        <div class="label">@Html.LabelFor(m => m.Cut)</div><div class="field">@Html.TextAreaFor(m => m.Cut, new { @class = "reduced" })</div>
    </div>

    <div class="editor">
        <div class="label">@Html.LabelFor(m => m.Content)</div><div class="field">@Html.TextAreaFor(m => m.Content, new { @class = "full" })</div>
    </div>

    <div class="editor">
        <div class="label">@Html.LabelFor(m => m.ImageId)</div><div class="field">@Html.EditorFor(m => m.ImageId)</div>
    </div>

    <div class="editor">
        <div class="label">@Html.LabelFor(m => m.MediaFolder)</div><div class="field">@Html.EditorFor(m => m.MediaFolder)</div>
    </div>

    <div class="editor">
        <div class="label">@Html.LabelFor(m => m.IsMainFeature)</div><div class="field">@Html.EditorFor(m => m.IsMainFeature)</div>
    </div>

        <div class="editor">
        <div class="label">@Html.LabelFor(m => m.Color)</div><div class="field">@Html.EditorFor(m => m.Color)</div>
    </div>

    <div class="editor">
        <div class="label">@Html.LabelFor(m => m.BackgroundColor)</div><div class="field">@Html.EditorFor(m => m.BackgroundColor)</div>
    </div>    
    
    <div class="editor">
        <div class="label"></div><div class="field"><input type="submit" value="Save" /></div>
    </div>
}