@model ProfileModel
@using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { id = "ProfileUpdateForm" }))
{
    <h2>
        Profile</h2>
    <div>
        <fieldset>
            <legend>Profile Details</legend>
            <div>
                <div>
                    <div>
                        Username</div>
                    <div>@Html.DisplayFor(Model => Model.User.Username)</div>
                </div>
                <div>
                    <div>
                        Email Address</div>
                    <div>@Html.TextBoxFor(Model => Model.User.EmailAddress)</div>
                </div>
                <div>
                    <div>
                        Receive updates via Email</div>
                    <div>@Html.CheckBoxFor(Model => Model.User.ReceiveUpdates)</div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Security</legend>
            <div>@Html.ActionLink("Change Password", "ChangePassword", "Account")</div>
        </fieldset>
    </div>
    <div class="controlDiv">
        <input type="submit" value="Save" />
        @Html.ActionLink("Cancel", "Index", "Home", null, null)
    </div>
}