@model AdminForumCategoryModel
@using (Html.BeginForm("SaveForumCategory", "Admin", FormMethod.Post, new { id = "adminForumCategoryForm" }))
{
    <div>
        @if (Model.Category.IsNew())
        {
            <h3>
                Add Forum Category</h3>
        }
        else
        {
            <h3>
                Edit Forum Category</h3>
        }
        <div id="mainForumCategoryEdit">
            <fieldset>
                <legend>Forum Category Details</legend>
                <div>
                    <div>
                        ID</div>
                    <div>@Html.DisplayFor(m => m.Category.ForumCategoryID)</div>
                    @Html.HiddenFor(m=>m.Category.ForumID)
                    @Html.HiddenFor(m => m.Category.ForumCategoryID)
                </div>
                <div>
                    <div>
                        Name</div>
                    <div>@Html.TextBoxFor(m => m.Category.Name)</div>
                </div>
                <div>
                    <div>
                        Description</div>
                    <div>@Html.TextAreaFor(m => m.Category.Description)</div>
                </div>
                <div>
                    <div>
                        Sort Order</div>
                    <div>@Html.TextBoxFor(m => m.Category.SortOrder)</div>
                </div>
            </fieldset>
        </div>
        <div style="clear: both">
            <div class="controlDiv">
                <input type="submit" id="SaveForumCategory" value="Save" onclick="return Admin.SaveForumCategory()" />
                <a href="" onclick="return Admin.CancelForumCategory()">Cancel</a>
            </div>
        </div>
    </div>
}
