@model Feature
<a href="@(Model.Link)" title="@(Model.Name)" style="text-decoration:none;" class="aFeature">
<div id="Feature@(Model.FeatureID)" class="featureBlock" style="position:relative; width:300px; height:150px; display:inline-block; background-color:#DD2222;">
    <div style=" float:left; width:300px; height:150px">
        <img src="/Thumb/@(Model.HeaderImageID ?? -1)/@Model.HeaderImageFilename" alt="@Model.Name" width="300px" height="150px" />
    </div>
    <div style="height:150px; position:absolute; top:0px; left:0px;">
        <div class="featureTitleOverlay" style="width:290px; ">@Model.Name</div>
        <div class="featureTitle" style="width:290px; ">@Model.Name</div>
        <div class="description" style="width:295px;">@Model.Description</div>
        <div class="descriptionText" style="width:295px;">@Model.Description</div>
    </div>
</div>
</a>

@*
<a href="@(Model.Link)" title="@(Model.Name)" style="text-decoration:none" class="aFeature">
<div id="Feature@(Model.FeatureID)" class="featureBlock" style="width:300px; height:150px; display:inline-block; background-image:url('/Thumb/@(Model.HeaderImageID ?? -1)'); background-color:#DD2222;">
    <div style="height:150px; position:relative;">
        <div class="featureTitleOverlay" style="width:290px;">@Model.Name</div>
        <div class="featureTitle" style="width:290px;">@Model.Name</div>
        <div class="description" style="width:295px; font-size:medium;">@Model.Description</div>
        <div class="descriptionText" style="width:295px; font-size:medium;">@Model.Description</div>
    </div>
</div>
</a>
*@

@*
            @if (Model.HeaderImageID.HasValue)
            {
                <div style="width: 180px; height:100px; display:inline-block; text-align: right; border:1px solid black;">
                    <img src="/Thumb/@(Model.HeaderImageID.Value)" style="width: 200px;
                        height: 100px" />
                </div>
            }
            else
            {
                <div style="width: 180px; height:100px; display:inline-block; text-align: right;">
                    <img src="/Content/Img/Feature_Image_Placeholder.png" style="width: 200px;
                    height: 100px" />
                </div>
            }

*@