@model ForumPostModel
@using (Html.BeginForm("PostForumPost", "Forum", FormMethod.Post, new { id = "ForumMaintainForm" }))
{
    <div style="background-color: White; border:1px solid black; padding:10px 20px 10px 20px; width:940px; height:440px; text-align:left">
        @Html.HiddenFor(model => model.Forum.Name)
        @Html.HiddenFor(model => model.Category.Name)
        @Html.HiddenFor(model => model.Topic.ForumTopicID)
        @Html.HiddenFor(model => model.Post.ForumPostID)
        @if (Model.Post.ForumPostID == 0)
        {
        <h3>
            New post in @Model.Topic.Name</h3>
        }
        else
        {
        <h3>
            Edit post in @Model.Topic.Name</h3>
        }
        <div>
            <div><b>Guidlines to formatting and posting</b></div>
            <div>Bold: Put your word or phrase between *s, e.g. "This is a *bold* word"</div>
            <div>Italic: Put your word or phrase between _s, e.g. "This is an _italic_ word"</div>
        </div>
        <div>
            @Html.TextAreaFor(model => model.Post.Post, new { style = "width:930px; height:240px;", @class = "required" })
        </div>
        <br />
        <div class="controlDiv">
            <input type="submit" value="Post" onclick="return Forum.PostForumPost()" />
            <a onclick="Forum.CancelForumPost()">Cancel</a>
        </div>
    </div>
}