@model helloserve.com.Web.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - helloserve Productions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>
    <header role="banner" class="header">
        <div class="level">
            <div class="header-title">@Html.ActionLink("helloserve", "Index", "Home")</div>
            <div class="header-nav">
                <nav>
                    <ul class="nav-list">
                        <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                        <li>@Html.ActionLink("PROJECTS", "Index", "Project")</li>
                        <li>SERVICES</li>
                        <li>BLOG</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="body-content">
        <div class="preamble">
             @RenderSection("preamble", required: false)
        </div>
        <div class="content">
            @RenderBody()
            <footer class="footer">
                <div class="level">
                    <div class="footer-title">&copy; @DateTime.Now.Year - helloserve</div>
                    <div class="footer-nav">
                        <nav class="footer-nav">
                            <ul class="nav-list">
                                <li>G+</li>
                                <li>in</li>
                                <li>T</li>
                                <li>F</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
