@model helloserve.com.Web.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "" : string.Format("{0} - ", ViewBag.Title))helloserve</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>
    <header role="banner" class="header">
        <div class="level">
            <div class="header-title">@Html.ActionLink("helloserve", "index", "home")</div>
            <div class="header-nav">
                <nav>
                    <ul class="nav-list">
                        <li>@Html.ActionLink("ABOUT", "index", "about")</li>
                        <li>@Html.ActionLink("PROJECTS", "index", "project")</li>
                        <li>SERVICES</li>
                        <li>@Html.ActionLink("BLOG", "index", "blog")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="body-content">
        <div class="preamble">
             @RenderSection("preamble", required: false)
        </div>
        <div class="content">
            @RenderBody()
            <footer class="footer">
                <div class="level">
                    <div class="footer-title">&copy; @DateTime.Now.Year - helloserve</div>
                    <div class="footer-nav">
                        <nav class="footer-nav">
                            <ul class="nav-list">
                                <li><a href="https://plus.google.com/+Helloserve/">G+</a></li>
                                <li><a href="http://za.linkedin.com/pub/henk-roux/5b/858/188">in</a></li>
                                <li><a href="https://twitter.com/helloserve">T</a></li>
                                <li><a href="https://www.facebook.com/helloserveproductions">F</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
