@model ForumTopicModel
@using (Html.BeginForm("PostForumTopic", "Forum", FormMethod.Post, new { id = "CreateTopicForm" }))
{
    <h2>@Model.Forum.Name</h2>
    <h3>@Model.Category.Name</h3>
    <div style="display: none">
        @Html.HiddenFor(model => model.Forum.Name);
        @Html.HiddenFor(model => model.Category.Name);
    </div> 
    <div>
        <fieldset>
            <legend>Create Forum Topic</legend>
            <div>
                <div>
                    <div>Name</div>
                    <div>@Html.TextBoxFor(model => model.Topic.Name, new { style = "width:990px" })</div>
                </div>
                <div>
                    <div>Post</div>
                    <div>@Html.TextArea("TopicPost", "", new { id = "TopicPost", style = "width:990px; height:350px;" })</div>
                </div>
                @if (Settings.Current.IsAdminUser)
                {
                    <div>
                        <div>Sticky ?</div>
                        <div>@Html.CheckBoxFor(model => model.Topic.Sticky)</div>
                    </div>
                    <div>
                        <div>Locked ?</div>
                        <div>@Html.CheckBoxFor(model => model.Topic.Locked)</div>
                    </div>
                }
            </div>
        </fieldset>
    </div>
    <div class="controlDiv">
        <input type="submit" value="Save" />
        @Html.ActionLink("Cancel", "ForumCategory", new { forum = Model.Forum.Name, category = Model.Category.Name })
    </div>
}