@model AdminUsersModel
<h2>Maintain Users</h2>
<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Email Address</th>
                <th>Updates</th>
                <th>Administrator</th>
                <th>Activated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr class="userRow">
                    <td>
                        @user.UserID.ToString()
                        @Html.Hidden("UserID", user.UserID)
                    </td>
                    <td>
                        @user.Username
                    </td>
                    <td>
                        @user.EmailAddress
                    </td>
                    <td>
                        @Html.CheckBox("UserUpdates", user.ReceiveUpdates)
                    </td>
                    <td>
                        @Html.CheckBox("UserAdmin", user.Administrator)
                    </td>
                    <td>
                        @Html.CheckBox("UserActived", user.Activated) - (@user.ActivationToken.ToString())
                    </td>
                    <td>
                        <a onclick="Admin.DeleteUser(@(user.UserID))">Delete</a> | <a onclick="Admin.SendActivation(@(user.UserID))">Send Activation Email</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
