@model helloserve.com.Azure.Models.Data.NewsDataModel

@{
    string pageUrl = ViewBag.BaseUrl + "blog/" + Model.UrlName;
    string pageIdentifier = Model.NewsId.ToString();
}

<div class="content-container" style="height:auto">
    <div class="content-block">
        <div style="padding:2em">
            <div style="display:table-cell; vertical-align:middle;">
                <div class="content-title"><a href="@(ViewBag.BaseUrl)@(Model.Controller)/@(Model.UrlName)">@Model.Title</a></div>
                <div class="content-title-detail">
                    @if (Model.CreatedDate == DateTime.Today)
                    {
                        <text>Posted today</text>
                    }
                    else
                    {
                        <text>Posted on @Model.CreatedDate.ToString("yyyy-MM-dd")</text>
                    }
                    @if (Model.ProjectId.HasValue)
                    {
                        <text>in <b>@Html.ActionLink(Model.Project.Title, "Index", "project", new { id = Model.Project.UrlName }, null)</b></text>
                    }
                </div>
            </div>
            <div class="content-hr"></div>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div style="text-align:center">
                    <img src="@Html.StaticlinkContent(Model.ImageUrl)" alt="@Model.UrlName" />
                </div>
            }
            <div>
                @Html.Raw(Html.StaticlinkContent(Model.Cut))
            </div>
            <div>
                @Html.Raw(Html.StaticlinkContent(Model.Content))
            </div>
        </div>
    </div>
</div>

@if (Model.AlternativeNewsItems == null || Model.AlternativeNewsItems.ListItems.Count == 0)
{
    if (Model.ShowInIsolation && Model.Project != null)
    {
        <div style="height:18%">
            @Html.DisplayFor(m => m.Project)
        </div>
    }
}
else
{
    <div class="content-container" style="width:100%; height:2em">
        <div class="content-block" style="height:100%; background-color:black!important">
            <div style="padding: 0.25em 2em; ">
                <div class="content-white" style="display:table-cell">
                    @if (Model.Project == null)
                    {
                        <text>Recently on helloserve</text>   
                    }
                    else {
                        <text>Other posts in <a href="@(ViewBag.BaseUrl)@(Model.Controller)/@(Model.UrlName)">@Model.Project.Title</a></text>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="content-container" style="height:18%">
        @Html.Partial("ContentGroupSmall", Model.AlternativeNewsItems)
    </div>
}

@if (Model.ShowInIsolation)
{
    <div class="content-container">
        <div style="padding:2em;">
            <div id="disqus_thread"></div>
            <script>
                /**
                * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                */

                var disqus_config = function () {
                    this.page.url = '@pageUrl'; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = @pageIdentifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//helloserve.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
}