<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("/Content/themes/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        @@font-face {
         font-family: 'ProximaNovaSemibold';
         src: url('@Url.Content("~/Content/fonts/ProximaNova-Sbold-webfont.eot")');
         src: url('@Url.Content("~/Content/fonts/ProximaNova-Sbold-webfont.eot")') format('eot'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Sbold-webfont.woff")') format('woff'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Sbold-webfont.ttf")') format('truetype'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Sbold-webfont.svg")') format('svg');
         font-weight: normal;
         font-style: normal;
        }

        @@font-face {
         font-family: 'ProximaNovaRegular';
         src: url('@Url.Content("~/Content/fonts/ProximaNova-Reg-webfont.eot")');
         src: url('@Url.Content("~/Content/fonts/ProximaNova-Reg-webfont.eot")') format('eot'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Reg-webfont.woff")') format('woff'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Reg-webfont.ttf")') format('truetype'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Reg-webfont.svg")') format('svg');
         font-weight: normal;
         font-style: normal;
        } 

        @@font-face {
         font-family: 'ProximaNovaLight';
         src: url('@Url.Content("~/Content/fonts/ProximaNova-Light-webfont.eot")');
         src: url('@Url.Content("~/Content/fonts/ProximaNova-Light-webfont.eot")') format('eot'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Light-webfont.woff")') format('woff'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Light-webfont.ttf")') format('truetype'),
         url('@Url.Content("~/Content/fonts/ProximaNova-Light-webfont.svg")') format('svg');
         font-weight: normal;
         font-style: normal;
        }

    </style>
    @IncludeJS("Built-In/jquery-1.7.2.min.js",
                "Built-In/jquery-ui-1.8.21.custom.min.js",
                "Built-In/jquery.validate.min.js",
                "Built-In/jquery.validate.unobtrusive.min.js",
                "Built-In/jquery.numeric.js",
                "Built-In/json2.js",
                "General.js")
    @RenderSection("headScript", false)
    <script type="text/javascript" language="javascript">
        window.GetUrl = function (url) {
            return '@Url.Content("~/")' + url;
        }
    </script>
    @IncludeControllerScript()
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="logindisplay">
                @Html.Action("LogOnPartial", "Account")
            </div>
            <div id="menucontainer" style="line-height: 50px">
                <div class="menu">@Html.ActionLink("About", "About", "Home")</div>
                <div class="menu">
                    <div class="menu_heading">
                        <span>Forum</span>
                    </div>
                    @if (Settings.Forums.Count > 0)
                    {
                        <div class="dropButton">
                            <ul >
                                @foreach (var f in Settings.Forums)
                                {
                                    <li>@Html.ActionLink(f.Name, "Forum", "Forum", new { forum = f.Name }, null)</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                @if (helloserve.Web.Settings.Current.User != null)
                {
                    if (helloserve.Web.Settings.Current.User.Administrator)
                    {
                        <div class="menu">@Html.ActionLink("Admin", "Admin", "Admin")</div>
                    }
                    else
                    {
                        <div class="menu">@Html.ActionLink("Store", "Store", "Store")</div>   
                    }
                }
                <div class="menu">@Html.ActionLink("Features", "Index", "Feature")</div>
                <div class="menu">@Html.ActionLink("Home", "Index", "Home")</div>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            <div style="clear:both; font-size:smaller; text-align:center">
                <p>helloserve Productions name and logo, and all content unless otherwise stated © 2011 - 2013 helloserve Productions Pty Ltd</p>
            </div>
        </div>
    </div>
</body>
</html>
