@model helloserve.com.Web.Models.Data.CollectionViewModel

<div class="content-group">
    <div class="content-container" style="width:100%; height:70%">
        @Html.DisplayFor(m => m.ListItems[0])
    </div>
    @if (Model.ListItems.Count >= 4)
    {
        <div class="content-container" style="width:100%; height:25%; display:flex">
            <div class="third-width" style="display:inline-block; height:100%;">@Html.DisplayFor(m => m.ListItems[1])</div><div class="third-width" style="display:inline-block; height:100%;">@Html.DisplayFor(m => m.ListItems[2])</div><div class="third-width" style="display:inline-block; height:100%;">@Html.DisplayFor(m => m.ListItems[3])</div>
        </div>
        <div class="content-container" style="width:100%; height:5%">
            <div class="content-block">
                @for (int i = 4; i < Model.ListItems.Count; i++)
                {
                    <div style="display:inline-block; padding: 1em">@Model.ListItems[i].Title</div>
                }
            </div>
        </div>
    }
    else if (Model.ListItems.Count == 3)
    {
        <div class="content-container" style="width:auto; height:25%; display:flex">
            <div class="half-width" style="display:inline-block; height:100%;">@Html.DisplayFor(m => m.ListItems[1])</div><div class="half-width" style="display:inline-block; height:100%;">@Html.DisplayFor(m => m.ListItems[2])</div>
        </div>
    }
    else if (Model.ListItems.Count == 2)
    {
        <div class="content-container" style="width:auto; height:25%; display:flex">
            <div style="display:inline-block; width:100%; height:100%;">@Html.DisplayFor(m => m.ListItems[1])</div>
        </div>
    }
</div>

