@page "/admin/blogs_blazor/"
@page "/admin/blogs_blazor/{title}"
@layout LoginLayout
@using helloserve.com.Adaptors
@using helloserve.com.Models
@inject IBlogServiceAdaptor ServiceAdaptor
@inject IPageState PageState

@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="blog-edit">
        <EditForm Model="@Model" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="edit-fields">
                <p>
                    <div>
                        <label for="title">Title</label>
                    </div>
                    <div>
                        <InputText Id="title" @bind-Value="@Model.Title" />
                    </div>
                </p>
                <p>
                    <div>
                        <label for="isPublished">Is Published</label>
                    </div>
                    <div>
                        <InputCheckbox Id="isPublished" @bind-Value="@Model.IsPublished" />
                    </div>
                </p>
                <p>
                    <div>
                        <label for="publishDate">Publish Date</label>
                    </div>
                    <div>
                        <InputDate T="System.DateTime?" Id="publishDate" @bind-Value="@Model.PublishDate" />
                    </div>
                </p>
                <p>
                    <div>
                        <label for="content">Content</label>
                    </div>
                    <div>
                        <InputTextArea Id="content" @bind-Value="@Model.Content" Class="textarea-content" />
                    </div>
                </p>
            </div>
            <div class="edit-fields edit-actions">
                <div>
                    <p>
                        <div>
                        <label for="key">Key</label>
                        </div>
                        <div>
                            <InputText Id="key" @bind-value="@Model.Key" />
                        </div>
                    </p>
                    <p>
                        <span>Open Graph Properties</span>
                    </p>
                    <p>
                        <div>
                            <label for="title">Description</label>
                        </div>
                        <div>
                            <InputTextArea Id="content" @bind-Value="@Model.Description" Class="textarea-content-small" />
                        </div>
                    </p>
                    <p>
                        <div>
                            <label for="title">Image Url</label>
                        </div>
                        <div>
                            <InputText Id="title" @bind-Value="@Model.ImageUrl" />
                        </div>
                    </p>
                    <p>
                        <div>
                            <label for="title">Type</label>
                        </div>
                        <div>
                            <InputText Id="title" @bind-Value="@Model.Type" />
                        </div>
                    </p>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
                <div>
                    <button type="button" onclick="@Publish">Publish</button>
                </div>
            </div>
        </EditForm>
    </div>
}

@functions {
    [Parameter]
    private string Title { get; set; } = null;

    BlogCreate Model;

    protected override async Task OnInitAsync()
    {
        PageState.Title = "Edit Blog";
        PageState.StateChanged();

        Model = await ServiceAdaptor.Edit(Title);
        if (Model == null)
        {
            Model = new BlogCreate();
        }
    }

    async Task Submit()
    {
        await ServiceAdaptor.Submit(Model);
        StateHasChanged();
    }

    async Task Publish()
    {
        await ServiceAdaptor.Publish(Title);
        Model = await ServiceAdaptor.Edit(Title);
        StateHasChanged();
    }
}