@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model helloserve.com.Models.ProjectView
@using helloserve.com
@using helloserve.com.Pages
@{
    Layout = "~/Views/Shared/_Layout_View.cshtml";
    string pageUrl = $"{ViewBag.Host}projects/{Model.Key}";
    string pageIdentifier = $"helloserve-com-{Model.Key}";
}

@section meta {
    <title>helloserve - @Model.Name</title>
    <meta property="og:type" content="@Model.Type">
    <meta property="og:title" content="@Model.Name">
    <meta property="og:description" content="@Model.Description">
    <meta property="og:image" content="@ViewBag.Host@Model.ImageUrl">
    <meta property="og:locale" content="en-ZA">

    @foreach (MetaCollection meta in Model.MetaCollection)
    {
        <!--@(meta.ProviderSource)-->
        @foreach ((string, string) tag in meta.MetaTags)
        {
            <meta property="@tag.Item1" content="@tag.Item2">
        }
    }
}

@if (string.IsNullOrEmpty(Model.ComponentPage))
{
    @(await Html.RenderComponentAsync<ProjectVanilla>(RenderMode.ServerPrerendered, new ProjectVanilla.Parameters() { Project = Model, PageSize = 5 }))
}
else
{
    @(await Html.RenderComponentAsync<ProjectCustom>(RenderMode.ServerPrerendered, new ProjectCustom.Parameters() { Project = Model, PageSize = 5 }))
}

<div class="comment-container">
    <div style="padding:2em;">
        <div id="disqus_thread"></div>
        <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            var disqus_config = function () {
                this.page.url = '@pageUrl';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '@pageIdentifier'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://helloserve.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>